{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'dds:create_dds_type' %} text-white {% endif %}" href="{% url 'dds:create_dds_type' %}">
              Тип ДДС
            </a>
          </li>
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>